@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

@font-face {
  src: url("Helios_Cond.ttf");
  font-family: "Helios_Cond";
}

* {
  box-sizing: border-box;
  font-family: "Helios_Cond";
  user-select: none;
  outline: none !important;
}

body {
  margin: 0;
  overflow: hidden;
}

label {
  padding: 0;
  margin: 0;
}

button {
}

.button {
}

.border-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 1;
  box-shadow: inset 0 0 10vw 6vw black;
}

.button_enter {
  display: block;
  margin: 0 auto;
  width: 35%;
  max-height: 38px;
  height: 100vw;
  background: url("img/button.jpg") no-repeat center / contain;
  border: none;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
  color: #ccc;
  max-width: 200px;
  min-width: 125px;
  width: 100%;
  border: 1px solid #797366;
  background: #0e0e07 url("img/select-arrow.png") no-repeat 100% center /
    contain;
  padding: 0.1rem;
}

input.enter__input {
  cursor: pointer;
  color: #ccc;
  max-width: 200px;
  min-width: 125px;
  width: 100%;
  border: 1px solid #797366;
  background: #0e0e07;
  padding: 0.1rem 0.25rem;
}

.enter__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
}

.enter__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: url("img/1.jpg") no-repeat center / cover;
}

.enter__shadow {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 80%;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background: url("img/shadow.png") no-repeat center / contain;
}

.enter__shadow_bottom {
  width: 40%;
  height: 100%;
  top: 23%;
}

.enter__wrapper {
  position: absolute;
  z-index: 1;
  width: 40%;
  max-width: 450px;
  height: 40%;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.enter__logo {
  width: 100%;
}

.enter__label {
  color: #b4b1a3;
  white-space: nowrap;
}

a .enter__label:hover {
  color: tomato;
}

.enter__label_underline {
  text-decoration: underline;
  cursor: pointer;
}

.bottom {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom__logo {
  width: 150px;
}

.bottom__text {
  font-size: 13px;
  color: #ffffff80;
}

.bottom__button-arrow {
  cursor: pointer;
}

.top {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 70px;
  height: 25px;
  z-index: 1;
}

.speaker {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("img/speaker.svg") no-repeat center / contain;
  top: 0;
  left: 0;
  cursor: pointer;
  filter: opacity(65%);
}

.player {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("img/player.svg") no-repeat center / contain;
  left: 45px;
  cursor: pointer;
  filter: opacity(65%);
}

.speaker:hover,
.player:hover {
  filter: opacity(100%);
}

.enter__socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  padding: 4px 15px;
  border: 1px solid #cccccc80;
}

.social {
  position: relative;
  margin: 0 1px;
}

.social__icon {
  display: block;
  cursor: pointer;
  width: 27px;
  height: 27px;
}

.social__icon_vk {
  background: url("img/vkontakte.png") no-repeat center / contain;
}

.social__icon_fb {
  background: url("img/facebook.png") no-repeat center / contain;
}

.social__icon_gp {
  background: url("img/google.png") no-repeat center / contain;
}

.social__icon_wg {
  background: url("img/wgni.png") no-repeat center / contain;
}

.social__tooltip-title {
  color: #ded8bb;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 6px;
}

.social__tooltip {
  display: none;
  position: relative;
  top: 35px;
  left: 35px;
  padding: 15px 20px;
  white-space: nowrap;
  background: #040301;
  border: 1px solid #cccccc80;
  position: absolute;
  box-shadow: inset 0px 0px 10px 10px #1f1f17;
}

.social__icon:hover + .social__tooltip {
  display: block;
}

.social__tooltip-text {
  color: #b4b1a3;
  font-size: 14px;
}

.hidden {
  display: none;
}
